@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
/* @import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Gravitas+One'); */

:root {
  /* https://material.io/resources/color */

  /* cyan */
  --colorPrimary700: #0097a7;
  /* orange */
  --colorSecondary700: #f57c00;
  /* light green */
  --colorSuccess700: #689f38;
  /* red */
  --colorDanger700: #d32f2f;

  /* --colorPrimary700: #084C61;
  --colorPrimary400: #4B7C8C;
  --colorPrimary200: #789DA8;
  --colorPrimary100: #8EADB7;

  --colorSecondary700: #e06436;
  --colorSecondary400: #EEAA91;
  --colorSecondary200: #F3C6B5;
  --colorSecondary100: #F6D4C8;

  --colorSuccess700: #78A17E;
  --colorSuccess400: #83B18A;
  --colorSuccess200: #B0CDB4;
  --colorSuccess100: #BBD4BF;

  --colorDanger700: #AE2920;
  --colorDanger400: #bf2d23;
  --colorDanger200: #D67973;
  --colorDanger100: #DC8C87;

  --colorWarning700: #D0B505;
  --colorWarning400: #e4c705; */
}

body {
  margin: 0; padding: 0;
  font-family: arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Black Han Sans', sans-serif;
}

a { color: var(--colorPrimary700); }

button {
  border: 1px solid #ccc;
  padding: .5rem 2rem;
}
  button:disabled { background-color: #ccc; }

input, textarea {
  border: 1px solid #ccc;
  padding: .5rem;
  /* width: 90%; */
}

.ff-monoton { font-family: 'Monoton', cursive; }
.ff-gravitas { font-family: 'Gravitas One', cursive; }

.color--primary { color: var(--colorPrimary700); }
.color--secondary { color: var(--colorSecondary700); }
.color--success { color: var(--colorSuccess700); }
.color--danger { color: var(--colorDanger700); }

/********************
  box
********************/

.box { border-radius: .5rem; padding: 1rem; }
.box-blue { background-color: var(--colorPrimary700); color: #fff; }
.box-blue-light { background-color: rgba(8,76,97,.2); }
.box-orange { background-color: var(--colorSecondary700); color: #fff; }
.box-orange-light { background-color: rgba(224,100,54,.2); }

.box-shadow { box-shadow: 0 0 10px rgba(0,0,0,.4); }

/********************
  table
********************/

.table { 
  border-collapse: collapse;
}
  .table th { 
    text-align: left; 
    font-weight: bold; 
  }
  .table th.tar { text-align: right; }

  .table th,
  .table td { 
    vertical-align: top;
    padding: 10px; 
    border-bottom: 1px solid #ccc;
  }

  .table th:first-child,
  .table td:first-child { padding-left: 0; }
  .table th:last-child,
  .table td:last-child { padding-right: 0; }


/********************
  caniuse
********************/

.caniuse {
  position: relative;
  display: inline-block;
  width: 40px; height: 40px;
  background-size: contain;
  margin: 0 15px 30px 15px;
}

.caniuse:after {
  position: absolute;
  bottom: -15px; left: 15px;
  content: "";
  width: 10px; height: 10px;
  border-radius: 50%;
}

.caniuse--yes::after { background: var(--colorSuccess700); }
.caniuse--no::after { background: var(--colorDanger700); }
.caniuse--partial::after { background: var(--colorSecondary700); }

.caniuse__chrome { background-image: url('../images/svg/chrome.svg'); }
.caniuse__firefox { background-image: url('../images/svg/firefox.svg'); }
.caniuse__safari { background-image: url('../images/svg/safari.svg'); }
.caniuse__ie11 { background-image: url('../images/svg/ie11.svg'); }
.caniuse__edge { background-image: url('../images/svg/edge.svg'); }
.caniuse__opera { background-image: url('../images/svg/opera.svg'); }

/*
<div>
  <div class="caniuse caniuse__chrome caniuse--yes"></div>
  <div class="caniuse caniuse__firefox caniuse--yes"></div>
  <div class="caniuse caniuse__edge caniuse--yes"></div>
  <div class="caniuse caniuse__safari caniuse--yes"></div>
  <div class="caniuse caniuse__ie11 caniuse--no"></div>
  <div class="caniuse caniuse__opera caniuse--yes"></div>
</div>
*/
