@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Gravitas+One');

:root {
  --colorPrimary: #084C61;
  --colorSecondary: #e06436;

  --colorSuccess: #83B18A;
  --colorDanger: #bf2d23;
  --colorWarning: #e4c705;
}

body {
  margin: 0; padding: 0;
  font-family: arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Black Han Sans', sans-serif;
}

a { color: var(--colorPrimary); }

.ff-monoton { font-family: 'Monoton', cursive; }
.ff-gravitas { font-family: 'Gravitas One', cursive; }

/********************
  BOX
********************/

.box { border-radius: .5rem; padding: 1rem; }
.box-blue { background-color: var(--colorPrimary); color: #fff; }
.box-blue-light { background-color: rgba(8,76,97,.2); }
.box-orange { background-color: var(--colorSecondary); color: #fff; }
.box-orange-light { background-color: rgba(224,100,54,.2); }

.box-shadow { box-shadow: 0 0 10px rgba(0,0,0,.4); }

/********************
  caniuse
********************/

.caniuse {
  position: relative;
  display: inline-block;
  width: 40px; height: 40px;
  background-size: contain;
  margin: 0 15px 30px 15px;
}

.caniuse:after {
  position: absolute;
  bottom: -15px; left: 15px;
  content: "";
  width: 10px; height: 10px;
  border-radius: 50%;
}

.caniuse--yes::after { background: var(--colorSuccess); }
.caniuse--no::after { background: var(--colorDanger); }
.caniuse--partial::after { background: var(--colorWarning); }

.caniuse__chrome { background-image: url('../images/svg/chrome.svg'); }
.caniuse__firefox { background-image: url('../images/svg/firefox.svg'); }
.caniuse__safari { background-image: url('../images/svg/safari.svg'); }
.caniuse__ie11 { background-image: url('../images/svg/ie11.svg'); }
.caniuse__edge { background-image: url('../images/svg/edge.svg'); }
.caniuse__opera { background-image: url('../images/svg/opera.svg'); }

/*
<div>
  <div class="caniuse caniuse__chrome caniuse--yes"></div>
  <div class="caniuse caniuse__firefox caniuse--yes"></div>
  <div class="caniuse caniuse__edge caniuse--yes"></div>
  <div class="caniuse caniuse__safari caniuse--yes"></div>
  <div class="caniuse caniuse__ie11 caniuse--no"></div>
  <div class="caniuse caniuse__opera caniuse--yes"></div>
</div>
*/
