* { box-sizing: border-box; }

body {
  padding: 30px;
  margin: 0;
  background-color: var(--colorPrimary700);
}

h1, h2 { margin: 0; }

li { 
  line-height: 2; 
  list-style: circle; 
}

code {
  font-size: 1.4rem;
  font-weight: bold;
}

.slide {
  background-color: #fff;
  width: 800px;
  max-width: 100%;
  margin: 0 auto 400px auto;
  padding: 30px;
}

.shadow {
  box-shadow: 0 35px 20px #000;
  text-shadow: 5px 5px 0 red;
}

.colors {
  background-color: #a00d0d;
  color: #fff;
}

.divider { 
  position: absolute;
  width: calc(100% + 20px); height: 40px;
  background-color: rgba(255,255,255,.4);
  left: -10px; right: -10px;
  margin-top: -200px;
  box-shadow: inset 0px 0px 8px rgba(0,0,0,.7);
}
