* { box-sizing: border-box; }

body {
  padding: 30px;
  margin: 0;
  background-color: var(--colorPrimary700);
}

h1, h2 { margin: 0; }

li { 
  line-height: 2; 
  list-style: circle; 
}

code {
  font-size: 1.4rem;
  font-weight: bold;
}

.slide {
  background-color: #fff;
  width: 800px;
  max-width: 100%;
  margin: 0 auto 400px auto;
  padding: 30px;
}

.shadow {
  box-shadow: 0 35px 20px #000;
}

.colors {
  background-color: #a00d0d;
  color: #fff;
}
