/*******************************************
  MICRO TACHYONS

  based on Emmet notation
  https://docs.emmet.io/cheat-sheet/
********************************************/

/* display */
.dn { display: none }
.db { display: block }
.di { display: inline }
.dib { display: inline-block }
.dt { display: table }
.dtr { display: table-row }
.dtc { display: table-cell }

@media only screen and (max-width: 1400px) {
	.dn-lg { display: none; }
	.db-lg { display: block; }
	.di-lg { display: inline; }
	.dib-lg { display: inline-block; }
}

@media only screen and (max-width: 1200px) {
	.dn-md { display: none; }
	.db-md { display: block; }
	.di-md { display: inline; }
	.dib-md { display: inline-block; }
}

@media only screen and (max-width: 800px) {
	.dn-sm { display: none; }
	.db-sm { display: block; }
	.di-sm { display: inline; }
	.dib-sm { display: inline-block; }
}

@media only screen and (max-width: 450px) {
	.dn-xs { display: none; }
	.db-xs { display: block; }
	.di-xs { display: inline; }
	.dib-xs { display: inline-block; }
}


/* visibility / position */
.vv { visibility: visible }
.vh { visibility: hidden }

.poss { position: static }
.posa { position: absolute; }
.posf { position: fixed }
.posr { position: relative }

.t0 { top: 0 }
.t2r { top: 2rem }
.t3r { top: 3rem }
.t4r { top: 4rem }
.t5r { top: 5rem }
.t6r { top: 6rem }

.r0 { right: 0 }
.r1r { right: 1rem }
.r2r { right: 2rem }
.r3r { right: 3rem }
.r4r { right: 4rem }
.r5r { right: 5rem }

.b0 { bottom: 0 }
.b1r { bottom: 1rem }
.b2r { bottom: 2rem }
.b3r { bottom: 3rem }
.b4r { bottom: 4rem }
.b5r { bottom: 5rem }

.l0 { left: 0 }
.l1r { left: 1rem }
.l2r { left: 2rem }
.l3r { left: 3rem }
.l4r { left: 4rem }
.l5r { left: 5rem }

.z-1 { z-index: -1 }
.z1 { z-index: 1 }
.z10 { z-index: 10 }
.z100 { z-index: 100 }
.z1000 { z-index: 1000 }
.z10000 { z-index: 10000 }


/* float */
.fll { float: left }
.flr { float: right }

.cll { clear: left }
.clr { clear: right }
.clb { clear: both }


/* flexbox */
.dfl { display: flex }
.fxg1 { flex-grow: 1 }


/* typography */
.tal { text-align: left }
.tar { text-align: right }
.tac { text-align: center }
.taj { text-align: justify }

.lh1 { line-height: 1 }
.lh15 { line-height: 1.5 }
.lh2 { line-height: 2 }

.fz70p { font-size: 70% }
.fz80p { font-size: 80% }
.fz90p {font-size: 60%;}
.fz100p { font-size: 100% }
.fz110p { font-size: 110% }
.fz120p { font-size: 120% }
.fz130p { font-size: 130% }
.fz140p { font-size: 140% }
.fz150p { font-size: 150% }

.fwb { font-weight: bold }
.fw100 { font-weight: 100 }
.fw200 { font-weight: 200 }
.fw300 { font-weight: 300 }
.fw400 { font-weight: 400 }
.fw500 { font-weight: 500 }
.fw600 { font-weight: 600 }
.fw700 { font-weight: 700 }
.fw800 { font-weight: 800 }
.fw900 { font-weight: 900 }

.fsi { font-style: italic }

.tdn { text-decoration: none }
.tdu { text-decoration: underline }

.ttc { text-transform: capitalize }
.ttu { text-transform: uppercase }
.ttl { text-transform: lowercase }

.ovh { overflow: hidden }
.ova { overflow: auto; }

.whsn { white-space: nowrap }
.whsp { white-space: pre }

.curp { cursor: pointer }


/* spacing */
.ma { margin: auto }

.m0 { margin: 0 }
.m1r { margin: 1rem }
.m2r { margin: 2rem }
.m3r { margin: 3rem }
.m4r { margin: 4rem }
.m5r { margin: 5rem }

.mt0 { margin-top: 0 }
.mt1r { margin-top: 1rem }
.mt2r { margin-top: 2rem }
.mt3r { margin-top: 3rem }
.mt4r { margin-top: 4rem }
.mt5r { margin-top: 5rem }

.mb0 { margin-bottom: 0 }
.mb1r { margin-bottom: 1rem }
.mb2r { margin-bottom: 2rem }
.mb3r { margin-bottom: 3rem }
.mb4r { margin-bottom: 4rem }
.mb5r { margin-bottom: 5rem }

.ml0 { margin-left: 0 }
.ml1r { margin-left: 1rem }
.ml2r { margin-left: 2rem }
.ml3r { margin-left: 3rem }
.ml4r { margin-left: 4rem }
.ml5r { margin-left: 5rem }

.mr0 { margin-right: 0 }
.mr1r { margin-right: 1rem }
.mr2r { margin-right: 2rem }
.mr3r { margin-right: 3rem }
.mr4r { margin-right: 4rem }
.mr5r { margin-right: 5rem }

.p0 { padding: 0 }
.p1r { padding: 1rem }
.p2r { padding: 2rem }
.p3r { padding: 3rem }
.p4r { padding: 4rem }
.p5r { padding: 5rem }

.pt0 { padding-top: 0 }
.pt1r { padding-top: 1rem }
.pt2r { padding-top: 2rem }
.pt3r { padding-top: 3rem }
.pt4r { padding-top: 4rem }
.pt5r { padding-top: 5rem }

.pb0 { padding-bottom: 0 }
.pb1r { padding-bottom: 1rem }
.pb2r { padding-bottom: 2rem }
.pb3r { padding-bottom: 3rem }
.pb4r { padding-bottom: 4rem }
.pb5r { padding-bottom: 5rem }


/* width / height */
.w1p { width: 1% }
.w5p { width: 5% }
.w10p {width: 10%;height: 1;}
.w20p { width: 20% }
.w30p { width: 30% }
.w33p { width: calc(100% / 3) }
.w40p { width: 40% }
.w50p { width: 50% }
.w60p { width: 60% }
.w66p { width: calc(100% / 1.5) }
.w70p { width: 70% }
.w80p { width: 80% }
.w90p { width: 90% }
.w100p { width: 100% }

.miw0 { min-width: 0 }
.miw10r { min-width: 10rem }
.miw15r { min-width: 15rem }
.miw20r { min-width: 25rem }
.miw25r { min-width: 20rem }
.miw30r { min-width: 30rem }
.miw40r { min-width: 40rem }
.miw50r { min-width: 50rem }

.maw0 { max-width: 0; }
.maw10r { max-width: 10rem }
.maw15r { max-width: 15rem }
.maw20r { max-width: 20rem }
.maw25r { max-width: 25rem }
.maw30r { max-width: 30rem }
.maw40r { max-width: 40rem }
.maw50r { max-width: 50rem }

.mih0 { min-height: 0; }
.mih10r { min-height: 10rem }
.mih15r { min-height: 15rem }
.mih20r { min-height: 20rem }
.mih25r { min-height: 25rem }
.mih30r { min-height: 30rem }
.mih40r { min-height: 40rem }
.mih50r { min-height: 50rem }


/* global variables */
:root {
  --c-primary: deepskyblue;
  --c-secondary: darkseagreen;
  --c-tertiary: brown;
  --c-success: green;
  --c-danger: red;
  --c-warning: orange;
  --c-info: yellow;
  --c-dark: #666;
  --c-light: #ccc;
  --c-muted: #eee;
  --c-white: white;

  --radius: 10px;
}


/* colors */
.c-primary { color: var(--c-primary) }
.c-secondary { color: var(--c-secondary) }
.c-tertiary { color: var(--c-tertiary) }
.c-success { color: var(--c-success) }
.c-danger { color: var(--c-danger) }
.c-warning { color: var(--c-warning) }
.c-info { color: var(--c-info) }
.c-dark { color: var(--c-dark) }
.c-light { color: var(--c-light) }
.c-muted { color: var(--c-muted) }
.c-white { color: var(--c-white) }

.bg-primary { background-color: var(--c-primary) }
.bg-secondary { background-color: var(--c-secondary) }
.bg-tertiary { background-color: var(--c-tertiary) }
.bg-success { background-color: var(--c-success) }
.bg-danger { background-color: var(--c-danger) }
.bg-warning { background-color: var(--c-warning) }
.bg-info { background-color: var(--c-info) }
.bg-dark { background-color: var(--c-dark) }
.bg-light { background-color: var(--c-light) }
.bg-muted { background-color: var(--c-muted) }
.bg-white { background-color: var(--c-white) }


/* boxes */
.box-circle { border-radius: 50% }
.box-rounded { border-radius: var(--radius) }


